.round-button{

  // margin: 2px;
  padding:5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center !important;
  border-radius: 50%;
  border: 1px solid black;
  // background-color:#000 ;
  // color: #fff ;
}
ion-checkbox{
  --checkmark-color: white;
  --background-checked: #ff6700;
  --border-color: #ff6700;
  --border-color-checked: #ff6700;
}
#sbp-input{
  margin-top: 5px;
  height: 35px;
  --padding-top: auto !important;
  --padding-bottom: auto !important;
  vertical-align: middle !important;
}
ion-select.wider-popover .popover-content {
  width: 100% !important; //or w/e width
}
ion-popover.sc-ion-popover-md-h {
  --width: 100%;
  --max-height: 90%;
  --box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}
mat-checkbox.mat-checked.green .mat-icon {
  background-color: rgba(0, 255, 0, 0.87);
 }
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 10 !important;
  bottom: 120%;
  left: 0px;
  margin-left: -50%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 5%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  opacity: 1;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
