
div.scrollmenu {
  // background-color: #333;
  overflow-x:scroll;
  white-space: nowrap;
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}


div.scrollmenu ion-label {
  display: inline-block;
  // color: white;
  border: 1px solid lightgray !important;
  text-align: center;
  width: 75px;
  padding: 5px;
  margin:0px 5px 0px 5px;
  text-decoration: none;
}



.indicator-container {
  padding-left: 0rem;
  padding-bottom: 0rem;
}
.dayview-allday-label{
  margin-top: 0px;
  color: #246CA5;
}
.event-indicator {
  background: var(--ion-color-success);
  // width: 5px;
  // height: 5px;
  // border-radius: 5px;
  display: table-cell;
}
.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: #43425D;;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  display: table-cell;
}

:host ::ng-deep {
.mat-select-arrow {
    color: #ff6700 !important;
    }
    .monthview-datetable {
    border: 0 !important;
      th{
        background-color: #ffaa00;
        color: white;
        padding: 0px!important;
        margin: 0px !important;
        border: none;
        border: 1px solid #ffaa00 !important;
      }
    td {
      border: 1px solid #E2E3E5 !important;
      padding: 0px!important;
      margin: 0px !important;
      // background-color: transparent!important;
    }
    td.text-muted{
      visibility: hidden;
    }
    }
    .ss{
      color: #F5696C;
    }



}
.calendar-event-inner {

  background-color: #fff; // change what you want
  color: white; // change what you want

}

.holiday{
  padding-top: 5px;padding-bottom: 5px;background-color: white;color:goldenrod;border-radius: 100%;width:80%;height: 100%;;
}
.regular-day{
  padding-top: 5px;padding-bottom: 5px;
}
.special-date {
  background-color: red;
}
.single-click{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;width:80%;height: 100%;border: 1px solid #ff6700;background-color: #ff6700 !important;background: #ff6700 !important;color: white;
}
.default-single-click{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;width:80%;height: 100%;border: 1px solid #000;background-color: #000 !important;background: #000 !important;color: white;
}
.double-click-holiday{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;background-color: white;color:goldenrod;width:80%;height: 100%;
}
.double-click{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;background-color: #ff6700;color: white;width:80%;height: 100%;
}
.double-click-one{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;
  // background-color: #ff6700;color: white;
  width:80%;height: 100%;
}
// background-color: #EADBD3;
.demo-inline-calendar-card {
  width: 300px;
}
.test{
  border-radius: 100%;padding-top:5px;padding-bottom:5px;background-color: #ff6700;color: white;width:75%;height: 100%;
}
.test1{
  padding-top:5px;padding-bottom:5px;
}

.ss{
  height: 61px;
  background-color: white;color: black;text-align: center;}
.bg-color{
  background-color: #246CA5;
}

.sat-sun{
  background-color:  #E2E3E5;
  color: #000;
}
.mon-tue{
  background-color: #E2E3E5;
  color: #000;
}
.wed-thu{
  background-color: #E2E3E5;
  color: #000;
}
.sun-mon{
  background-color: #E2E3E5;
  color: #000;
}
.tue-wed{
  background-color: #E2E3E5;
  color: #000;
}
.thu-fri{
  background-color: #E2E3E5;
  color: #000;
}
.fri-sat{
  background-color: #E2E3E5;
  color: #000;
}


.popupStatus {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popupStatus .popuptextStatus {
  visibility: hidden;
  width: 130px;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1 !important;
  // bottom: 125%;
  height: 75px;
  margin-top: 45px;
  left: 0%;
  margin-left: -105px;
}

/* Popup arrow */
.popupStatus .popuptextStatus::after {
  content: "";
  position: absolute;
  // top: 0px;
  left: 0px;
  top: -15px;
  z-index: -1 !important;
  margin-left: 60px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(150deg);
  border-color: transparent transparent #000 transparent ;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupStatus .showStatus {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}








.popup {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 195px;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1 !important;
  height: 75px;
  margin-top: 45px;
  left: 0%;
  // margin-left: -105px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  // top: 0px;
  left: 0px;
  top: -15px;
  z-index: -1 !important;
  margin-left: 8px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(-150deg);
  border-color: transparent transparent #000 transparent ;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}





























.tooltip-container {
  // width: 200px;
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 20px;
  margin-left: 22px;
}
.tooltip-container-right {
  // width: 200px;
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 28px;
  margin-left: -20px;

}
.tooltip-container-left {
  // width: 200px;
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 28px;
left: 35px !important;

}

.arrow-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 12px 5px;
  border-color: transparent transparent rgb(240, 232, 232,1) transparent;
  position: absolute;
  top: -10px;
  left: 6px;
}
.arrow-up-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 12px 5px;
  border-color: transparent transparent rgb(240, 232, 232,1) transparent;
  position: absolute;
  top: -10px;
  right: 1px;
}
.arrow-up-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 12px 5px;
  border-color: transparent transparent rgb(240, 232, 232,1) transparent;
  position: absolute;
  top: -10px;
  left: 1px;
}
.tooltip {
  border: thin solid rgb(240, 232, 232,1);
  border-radius: 5px;
  padding: 10px;
  display: block;
  opacity: 1 !important;
  position: relative;
  color:#000000;
  background-color: rgb(240, 232, 232,1);
}

h5 {
  margin: 0;
  text-align: left;
}

.mp {
  // width: 200px;
  // height: 50px;
  display: table-cell;
  vertical-align: right;
  text-align: center;
  // position: relative;
  // background: #43425D;
  // width: 8px;
  // height: 8px;
  // border-radius: 5px;
}

.mp:hover +.tooltip-container {
  display: inline-block;

}
.mp:hover +.tooltip-container-left {
  display: block;
}
.mp:hover +.tooltip-container-right {
  display: block;
}
.mt:hover+.tooltip-container {
  display: block;
}


@media screen and (max-height: 700px) and (orientation: portrait){
  }

  @media (min-height: 700px)  and (max-height: 800px) and (orientation: portrait){

  }
  @media (min-height: 801px)  and (max-height: 825px) and (orientation: portrait){

  }
  @media (min-height: 826px)  and (max-height: 855px) and (orientation: portrait){

  }
  @media (min-height: 855px)  and (max-height: 900px) and (orientation: portrait){
  }

  @media (min-height: 901px)  and (max-height: 999px) and (orientation: portrait){

  }
