<ion-grid class="app-background-primary-color ion-no-margin ion-no-padding" style="width: 100%;border-style: none !important;padding-bottom: 0% !important;position: fixed;margin-top: -1%;padding-top: 5%;">
  <ion-row class="ion-text-center ion-justify-content-center" style="margin-bottom: 5%;">
    <ion-label  class=" content-data-14px" style="font-size: 20px;padding: 10px;">Generate Schedule</ion-label>
  </ion-row>

  <div class="app-white-background-color  " style=" border-top-left-radius: 50%;margin-bottom: -1px;border: 0px solid black;">
    <ion-row class="ion-text-center ion-justify-content-center" style="padding-top: 20%;">
      <ion-label class=" content-data-14px" >Choose your option</ion-label>
    </ion-row>

    <div class=" ion-text-center  ion-justify-content-center" style="padding-bottom: 15%;border: none;height: 100%;">
      <ion-row style="margin-top: 10%;">
        <ion-col size="2"></ion-col>
        <ion-col size="8" >
          <ion-button class="dashboard-button" style="width: 100%;margin-bottom: auto;"
        shape="round"  (click)="generateSceduleByStraightline()">By StraightLines.io</ion-button>
        </ion-col>
        <ion-col size="2">
          <div>
            <ion-icon class="app-font-primary-color pe-none" name="information-circle-outline" style="font-size: 20px;padding: auto;margin: auto;height: 38px;padding-top: 2px;" ></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10%;">
        <ion-col size="2"></ion-col>
        <ion-col size="8" >
          <ion-button class="dashboard-button" style="width: 100%;margin-bottom: auto;"
        shape="round" (click)="importExcelSheet()" >Import Schedule</ion-button>
        </ion-col>
        <ion-col size="2">
          <div>
            <ion-icon class="app-font-primary-color pe-none" name="information-circle-outline" style="font-size: 20px;padding: auto;margin: auto;height: 38px;padding-top: 2px;" ></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </div>
    </div>
    <div style="height: 100%;"></div>
</ion-grid>
