
::ng-deep .mat-select-arrow {
  color: #ff6700 !important;
}
.custom-popover .popover-content {
  width: 200%; //or w/e width
}
ion-spinner.spinner-ios line {
  stroke: #ff6700;
}
ol{
  list-style: none;
  width:100%;
}

li {
    display: inline-block;
  width: 12px;
  height: 12px;
  // margin: 2px;
  border-radius: 50%;
  background-color: #d3d3d3;
  overflow: hidden;
  transition: all 500ms ease-out;
  text-indent: -9999px;


}
.round-slides{
  height: 240px;width: 100%;padding-top:5px;padding-bottom:5px;padding-left: 10px;
}
.update-slide{
  z-index: -1 !important;
}
.round-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;width: 100%;
}
.round-timer{
  padding:5px;padding-top: 10px;border-bottom: none;border-left:none ;border-right: none;
}
.active {
  width: 12px;
  height: 12px;
  margin: 2px 4px 2px 4px;
  // color: #0194e3;
  background-color: #ff6700;
}

.small {
  width: 8px;
  height: 8px;
  margin: 2px 4px 2px 4px;

}
.my-bid-form{
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
// .active-box{
//   // box-shadow: 0 0 7px #ccc;
//   // box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
// }
.active{
  --checkmark-color:white;
  --background-checked:#3CA823;
  --border-color-checked:#57818A;
  --border-color: #57818A;
}
.deactivate{
  --checkmark-color:#57818A;
  --border-color-checked:#57818A;
  --background-checked:#ffaa00;
  --border-color: #ffaa00;;
}

#input-box{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  --padding-end: 0% !important;
  --padding-start: 0% !important;
}
.main{
  height: 100%;
}
#all-shift-list{
  height: 60% !important;overflow-y: scroll;
}
#all-shift-list-card{
  height: 80% !important;overflow-y: scroll;
}
@media(min-height:700px){
.main{
  height: 95%;
}
#list-all-slots{
  height: 120px !important;overflow-y: scroll;
}
}
@media(min-height:800px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 170px !important;overflow-y: scroll;
}
}
@media(min-height:900px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 250px !important;overflow-y: scroll;
}
}


#sbp-input{
height: 35px;
--padding-top: auto;
--padding-bottom: auto;
}

::ng-deep lib-ionic-pullup  .footer {
  top: 800px !important;
}


// .active {
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   padding: 2px;

//   // color: #0194e3;
//   text-align: center;
//   font-size: 19px;
//   color: white;
//   background-color: #ffaa00;
// }



// .small {
//   width: 24px;
//   height: 24px;
//   border-radius: 50%;
//   padding: 2px;

//   // color: #0194e3;
//   text-align: center;
//   font-size: 19px;
//   color: white;
//   background-color: #aab5b8;
// }

.active-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #ffaa00;
}

.small-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #aab5b8;
}

#sbp-input{
  margin-top: 5px;
  height: 35px;
  --padding-top: auto;
  --padding-bottom: auto;
}



div.scrollmenu {
  // background-color: #333;
  overflow-x:scroll;
  white-space: nowrap;
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}


div.scrollmenu ion-label {
  display: inline-block;
  // color: white;
  border: 1px solid lightgray !important;
  text-align: center;
  width: 75px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
div.scrollmenuOne {
  // background-color: #333;
  overflow-x:scroll;
  white-space: nowrap;
}
.scrollmenuOne::-webkit-scrollbar {
  display: none;
}
div.scrollmenuOne ion-grid {
  display: inline-block;
  // color: white;
  border: 1px solid lightgray !important;
  text-align: center;
  width: 100px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
/* Popup container */
.popup {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 130px;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1 !important;
  // bottom: 125%;
  height: 75px;
  margin-top: 50px;
  left: 0%;
  margin-left: -50px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  z-index: -1 !important;
  margin-left: 40px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(120deg);
  border-color: transparent transparent #000 transparent ;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.popupStatus {
  position: relative;
  display:  inline-block;
  height: 22px;
  cursor: pointer;
}

.popupStatus .popuptextStatus {
  visibility: hidden;
  width: 150px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 3 !important;
  left: -100% !important;
  top: -80px !important;
  margin-left: -70px;
}


.popupStatus .popuptextStatusZero {
  visibility: hidden;
  width: 150px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 3 !important;
  // margin-top: 33px;
  left: -100% !important;
  top: -100px !important;
  margin-left: -70px;
}
.popupStatus .popuptextStatusZero::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50px;
  margin-left: 80px;
  border-width: 23px;
  z-index: -1 !important;
  transform: rotate(220deg);
  border-style: solid;
  border-color:  transparent transparent transparent #000 ;
}
.popupStatus .popuptextStatus::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 30px;
  margin-left: 80px;
  border-width: 23px;
  z-index: -1 !important;
  transform: rotate(220deg);
  border-style: solid;
  border-color:  transparent transparent transparent #000 ;
}
.popupStatus .showStatus {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}





.timer-alert {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: #43425D; }
  100% { color: red; }
}


.close{
  border-radius: 25px 25px 0px 0px;
  height: 100px;overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.3), 0 6px 7px 0 rgba(151, 150, 150, 0.19) inset;
  margin-right: 10px;
  margin-left: 10px;
}
.open{
  border-radius: 25px;
  height: 500px;overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.3), 0 6px 7px 0 rgba(151, 150, 150, 0.19) inset;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
  position: absolute;
  opacity: 1;
  background-color: white;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-400px);
  }
}
.animate{
  border-radius: 25px 25px 0px 0px;
  // box-shadow: 0 0 0 0 rgba(155, 155, 155, 0.3), 0 0 0 0 rgba(151, 150, 150, 0.19) inset;
  // margin-right: 10px;
  // margin-left: 10px;
  // width: 100%;
  -webkit-box-shadow: 0px -4px 3px rgba(155, 155, 155, 0.3);
  -moz-box-shadow: 0px -4px 3px rgba(155, 155, 155, 0.3);
  box-shadow: 0px -4px 3px rgba(155, 155, 155, 0.3);

}
// .animate.bottom {
//   height: 60px;overflow: hidden;
//   }
.animate .bottom .move {
  // height: 400px;
  width: 100%;
  left: 0;
  right: 0;
  // bottom: 10 !important;
  // margin-bottom: 50px;
  background-color: white;
  // z-index: 1;
  border-radius: 25px 25px 25px 25px;
  // position: fixed;
  // transform: translate(0, -20%);
}
div.scrollTwo {
  margin: 4px, 4px;
  padding: 4px;
  overflow: auto;
  white-space: nowrap;
}
.scrollTwo::-webkit-scrollbar {
  display: none;
}

.scrollWidth{
  margin:5px;width: 100% auto !important;

}
.scrollWidthLeave{
  margin:5px;width: 100% auto !important;

}
.scheduleBidSummary{
  padding: 5px;
}


@media screen and (max-height: 700px) and (orientation: portrait){
}

@media (min-height: 700px)  and (max-height: 800px) and (orientation: portrait){

}
@media (min-height: 801px)  and (max-height: 825px) and (orientation: portrait){

}
@media (min-height: 826px)  and (max-height: 855px) and (orientation: portrait){

}
@media (min-height: 855px)  and (max-height: 900px) and (orientation: portrait){
}

@media (min-height: 901px)  and (max-height: 999px) and (orientation: portrait){

}



.popupIndex {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popupIndex .popuptextIndex {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popupIndex .popuptextIndex::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.popupIndex .popuptextIndexLeft {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 0px;
}

.popupIndex .popuptextIndexLeft::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 2%;
  z-index: -1;
  transform: rotate(145deg);
  margin-left: 0px;
  border-width: 19px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.popupIndex .popuptextIndexRight {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 50%;
  margin-right: 0px;
}

.popupIndex .popuptextIndexRight::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 2%;
  z-index: -1;
  transform: rotate(210deg);
  margin-right: 0px;
  border-width: 19px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.popupIndex .showIndex {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popupIndex .hideIndex {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.content-data {
  font-size: 16px;
}

.data {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .data {
    font-size: 12px;
  }
  .content-data {
    font-size: 12px;
  }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


