<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row
      class="ion-no-margin-top ion-no-padding-top ion-no-margin-bottom ion-no-padding-bottom position-relative"
    >
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-label
          class="app-font-primary-color app-font-size-14px ion-text-center"
          ><b>{{ title }}</b></ion-label
        >
      </ion-col>
      <ion-col size="2">
        <ion-label
          style="cursor: pointer; font-size: 12px"
          class="app-font-mercurius-secondary-color ion-text-center"
          (click)="dismiss()"
          ><b>Close</b></ion-label
        >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
