.active{
  --checkmark-color:white;
  --background-checked:#3CA823;
  --border-color-checked:#57818A;
  --border-color: #57818A;
}
.deactivate{
  --checkmark-color:#57818A;
  --border-color-checked:#57818A;
  --background-checked:#ffaa00;
  --border-color: #ffaa00;;
}
.all-shift-list{
  height: 390px !important;
}
.default-all-shift-list{
  height: 330px !important;
}
#input-box{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  --padding-end: 0% !important;
  --padding-start: 0% !important;
}
.main{
  height: 100%;
}
#all-shift-list{
  height: 310px !important;
}
#all-shift-list-card{
  height: 90% !important;overflow-y: scroll;
}
@media(min-height:700px){
.main{
  height: 95%;
}
#list-all-slots{
  height: 120px !important;overflow-y: scroll;
}
}
@media(min-height:800px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 170px !important;overflow-y: scroll;
}
}
@media(min-height:900px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 250px !important;overflow-y: scroll;
}
}


// #sbp-input{
// height: 35px;
// --padding-top: auto;
// --padding-bottom: auto;
// }


.active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2px;

  // color: #0194e3;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: #57818A;
}



.small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2px;

  // color: #0194e3;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: #aab5b8;
}

.active-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #57818A;
}

.small-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #aab5b8;
}

div.scrollmenu {
  // background-color: #333;
  overflow-x:scroll;
  white-space: nowrap;
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}


div.scrollmenu ion-label {
  display: inline-block;
  // color: white;
  border: 1px solid #ff6700 !important;
  text-align: center;
  width: 75px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
.expand{
  position:relative;
  height: 100%;
}
.default-expand{
  margin-top: 0px;
  padding-top: 0px;
  height: 40px;
}


@keyframes slideInFromBottom {
  // 0% {
  //   transform: translateY(100%);
  // }
  // 100% {
  //   transform: translateY(0);
  // }
}
@keyframes slideInFromBottomButton {
  // 0% {
  //   transform: translateY(500%);
  // }
  // 100% {
  //   transform: translateY(0);
  // }
}


.circleNumber {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // background: #fff;
  // border: 2px solid #666;
  // color: #666;
  text-align: center;
  z-index: 1;

}


.vertical-line{
  width: 1px ;
  top:0 !important;
  background-color: lightgray;
  position: absolute;
  left: 50%;
  margin:0 auto !important;
  height: 100%;
  z-index: -1;

}
#footer {
  position: sticky;
    position: -webkit-sticky;
  bottom: 0px;
  z-index: 2 !important;
//   bottom: 10px;
//   width: 100%;
//   justify-content : center;
}
.expand-slide{
  position:relative;
  height: auto !important;
  // margin-top: 10px;
  margin-bottom: 10px;
}
.default-expand-slide{
  margin-bottom: 10px;
  height: auto !important;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popuptext2 {
    background: #000;
    // font-size: 125%;
  }
  .popuptext2 .arrow::after {
    border-top-color: aliceblue;
  }
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  left: 35%;
  margin-left: 25px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -11%;
  z-index: -1;
  transform: rotate(340deg);
  margin-left: 0px;
  border-width: 19px;
  border-style: solid;
  border-color:  transparent transparent #000 transparent;
}
// Popup Left
.popup .popuptextLeft {
  visibility: hidden;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  right: 35%;
  margin-right: 25px;
}

/* Popup arrow Left*/
.popup .popuptextLeft::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -15%;
  z-index: -1;
  transform: rotate(210deg);
  margin-right: 0px;
  border-width: 19px;
  border-style: solid;
  border-color:#000  transparent  transparent  transparent ;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
