<ion-grid class=" app-font-primary-color main d-md-none">
  <!-- Select Shiftline Schedules -->
  <ion-grid style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">

    <ion-row>
      <ion-col size="7">

        <div style="float: left;"> <ion-label id="input-title" position="stacked"
            class="data app-font-primary-color">Shiftlines Schedules
          </ion-label>
        </div>
        <div
          style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity: 0.5;"
          class="app-background-mercurius-secondary-color app-font-white-color ">
          <b style="font-weight: normal;">
            <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
        </div>
      </ion-col>
      <ion-col size="5" class="text-align-right"
        style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
        <ion-label style="font-weight: normal;" *ngIf="viewBidSchedule!= null && viewBidSchedule.leavemap.length>0">
          <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"
            name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="viewBidSchedule!= null && viewBidSchedule.shiftdefmap.length>0 ">
      <ion-col (click)="showShiftLineScheduleSummary()" size="12"
        class=" app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color app-white-background-color">
        <ion-label class=" app-font-mercurius-secondary-color data">Selected Schedule
          (<b>{{viewBidSchedule.shiftdefmap.length }}</b>)</ion-label>
      </ion-col>
      <ion-col size="12"><b class="data app-font-red-color font-normal"
          *ngIf="check_correct_shitline_schedule==true">One of the Shiftline Schedule(s) shiftline count is not matching
          with the Employee count <i (click)="viewIncorrectShiftlineScheduleData()"><u>More>></u></i></b></ion-col>
    </ion-row>
  </ion-grid>

  <!-- Select Employees -->
  <ion-grid style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
    <ion-row>
      <ion-col size="7">

        <div style="float: left;"> <ion-label id="input-title" position="stacked"
            class="data app-font-primary-color">Employees
          </ion-label>
        </div>
        <div
          style="opacity:0.5;float: left;margin-left: 5px;margin-top: 2px;padding:2px"
          class="app-background-mercurius-secondary-color app-font-white-color ">
          <b style="font-weight: normal;">
            <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
        </div>
      </ion-col>
      <ion-col size="5" class="text-align-right"
        style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
        <ion-label style="font-weight: normal;" *ngIf="viewBidSchedule!= null && viewBidSchedule.employeemap.length>0">
          <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"
            name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="viewBidSchedule!= null && viewBidSchedule.employeemap.length>0 ">
      <ion-col (click)="viewEmpList()" size="12"
        class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color">
        <ion-label class=" app-font-mercurius-secondary-color data"> Employees (<b>{{viewBidSchedule.employeemap.length
            }}</b>)</ion-label>
      </ion-col>
      <ion-col size="12" class="data" style="margin-top: 10px;" *ngIf="totalRequiredHours>0">
        <ion-label>Total Leave Accrued:<b class="font-normal" *ngIf="totalRequiredHours>0;else elseReqVacation">
            {{totalRequiredHours}} Hours</b><ng-template #elseReqVacation><b class="font-normal"> {{totalRequiredHours}}
              Hour</b></ng-template></ion-label>
      </ion-col>
      <ion-col size="12" class="data" style="margin-top: 10px;" *ngIf="totalAccumulatedLeaves>0">
        <ion-label>Total Leave Accumulated:<b class="font-normal" *ngIf="totalAccumulatedLeaves>0;else elseReqVacation">
            {{totalAccumulatedLeaves}} Hours</b><ng-template #elseReqVacation><b class="font-normal"> {{totalAccumulatedLeaves}}
              Hour</b></ng-template></ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Vacation Slots -->
  <ion-grid style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
    <ion-row>
      <ion-col size="7">

        <div style="float: left;"> <ion-label id="input-title" position="stacked"
            class="data app-font-primary-color">Vacation Slots
          </ion-label>
        </div>
        <div
          style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity:0.5"
          class="app-background-mercurius-secondary-color app-font-white-color ">
          <b style="font-weight: normal;">
            <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
        </div>
      </ion-col>
      <ion-col size="5" class="text-align-right"
        style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
        <ion-label style="font-weight: normal;" *ngIf="viewBidSchedule!= null && viewBidSchedule.leavemap.length>0">
          <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"
            name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="viewBidSchedule!= null && viewBidSchedule.leavemap.length>0 ">
      <ion-col (click)="viewVacationSlot()" size="12"
        class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color">
        <ion-label class=" app-font-mercurius-secondary-color data">Vacation Slots (<b>{{viewBidSchedule.leavemap.length
            }}</b>)</ion-label>
      </ion-col>
      <ion-col size="12" class="data" style="margin-top: 10px;" *ngIf="totalHours>0">
        <ion-label>Total Vacation Opportunities:<b class="font-normal" *ngIf="totalHours>0;else elseSlots">
            {{totalHours}} Hours</b><ng-template #elseSlots><b class="font-normal"> {{totalHours}}
              Hour</b></ng-template></ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>








  <!-- <ion-label (click)="selectEmp()">Employee</ion-label> -->


  <!-- Bid Rounds -->
  <ion-grid style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
    <ion-row>
      <ion-col size="11">

        <div style="float: left;"> <ion-label id="input-title" position="stacked"
            class="data app-font-primary-color">Bid Rounds
          </ion-label>
        </div>
        <div
          style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity: 0.5;"
          class="app-background-mercurius-secondary-color app-font-white-color ">
          <b style="font-weight: normal;">
            <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
        </div>
      </ion-col>
      <ion-col size="1" style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
        <ion-label >
          <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"
            name="checkmark-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" >
      <ion-col (click)="viewBidRoundList()" size="12"
        class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color">
        <ion-label class=" app-font-mercurius-secondary-color data">Bid Rounds (<b>{{viewBidSchedule.roundmap.length
            }}</b>)</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-grid>
<ion-grid class="d-none d-md-block container app-font-primary-color main">

  <div class="d-flex justify-content-center w-100 m-3">
   <p class="bid-schedule-name"> {{bidScheduleName}} </p>
  </div>
  <mat-accordion multi class="mb-2">

        <mat-expansion-panel expanded opened class="position-relative">
          <mat-expansion-panel-header>
            <div class="d-flex align-items-center gap-2">
              Shiftlines Schedules 
              <ion-label *ngIf="viewBidSchedule?.shiftdefmap.length">
                ({{viewBidSchedule.shiftdefmap.length}})
              </ion-label>
            </div>
          </mat-expansion-panel-header>

          <ion-row class="mt-2" *ngIf="viewBidSchedule?.shiftdefmap.length">
            <ion-col size="12"><b class="data app-font-red-color font-normal"
                *ngIf="check_correct_shitline_schedule == true">
                One of the Shiftline Schedule(s) shiftline count is not matching with the Employee count
                <i class="cursor-pointer" (click)="viewIncorrectShiftlineScheduleData()"><u>More>></u></i></b>
            </ion-col>
          </ion-row>
          <app-view-select-shiftline (shiftsUpdated)="ngOnInit()" [isModal]="false" ></app-view-select-shiftline>
        </mat-expansion-panel>


        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <div class="d-flex align-items-center gap-2">
              Employees
              <ion-label *ngIf="viewBidSchedule?.employeemap.length">
                ({{viewBidSchedule.employeemap.length}})
              </ion-label>
            </div>
          </mat-expansion-panel-header>

          <app-view-select-employee [totalAccumulatedLeaves] ="totalAccumulatedLeaves" (employeesUpdated)="employeeSelected($event)" [isModal]="false"></app-view-select-employee>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <div class="d-flex align-items-center gap-2">
              Vacation Slots 
              <ion-label *ngIf="viewBidSchedule?.leavemap.length">
                ({{viewBidSchedule.leavemap.length}})
              </ion-label>
            </div>
          </mat-expansion-panel-header>
          <app-view-select-vacation-slots [totalRequiredVacationHours]="totalRequiredVacationHours+totalAccumulatedLeaves" [totalAccumulatedLeaves] ="totalAccumulatedLeaves"
            [isModal]="false" (slotsUpdated)="getTotalCreatedVaccationHours()"
            [completed]="steps.slotsSelected">
          </app-view-select-vacation-slots>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <div class="d-flex align-items-center gap-2">
              Bid Rounds 
              <ion-label *ngIf="viewBidSchedule?.roundmap?.length">
                ({{viewBidSchedule.roundmap.length}})
              </ion-label>
            </div>
          </mat-expansion-panel-header>
          <app-view-select-bid-rounds (roundsSelected)="selectBidRound()" [isModal]="false"
            [checkValuechanged]="checkValuechanged" [totalCreatedVacationHours]="totalCreatedVacationHours"
            [totalRequiredVacationHours]="totalRequiredVacationHours" [totalAccumulatedLeaves]="totalAccumulatedLeaves"></app-view-select-bid-rounds>
        </mat-expansion-panel>
  </mat-accordion>

</ion-grid>
