
<div class="admin-table-wrapper">
  <div class="top-bar">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="checkActive" (ngModelChange)="radioChange()">
      <mat-radio-button value="Active">Active</mat-radio-button>
      <mat-radio-button value="Inactive">Inactive</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button mat-button (click)="addNewRole()" [disabled]="!getPermissionActionName('Add Qualifications')">
      <div class="add-button">

        <p>Add Qualification</p>

      </div>
    </button>
  </div>
  <div class="list">
    <table #table mat-table [dataSource]="dataSource"
    matSortActive="qual_name" matSortDirection="asc" matSort  class="mat-elevation-z8" >


      <ng-container matColumnDef="qual_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Qualification Name </th>
        <td mat-cell *matCellDef="let element"> {{element.qual_name}} </td>
      </ng-container>
      <ng-container matColumnDef="qual_description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Qualification Description </th>
        <td mat-cell *matCellDef="let element"> {{element.qual_description}} </td>
      </ng-container>
      <!-- expStartDate Column -->
      <ng-container matColumnDef="eff_start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Effective Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.eff_start_date | date : "MM/dd/YYYY"}} </td>
      </ng-container>

      <!-- expEndDate Column -->
      <ng-container matColumnDef="eff_end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Expiration Date </th>
        <td mat-cell *matCellDef="let element"> {{element.eff_end_date | date : "MM/dd/YYYY"}} </td>
      </ng-container>
      <ng-container matColumnDef="status" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center d-none">Status</th>
        <td mat-cell *matCellDef="let element" class="text-center d-none">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" matTooltipPosition="left" matTooltip="Update"  aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="updateRole(element)" [disabled]="!getPermissionActionName('Update Qualifications')">
              <span>Update</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>
  </div>
</div>


