

.round-button-three-digit{

  margin: 2px;
  padding:10px;
  padding:20px 10px 20px 10px;
  width: 65px;
  height: 65px;
  // width: auto;
  display: inline-block;
  text-align: center !important;
  font-size: 16px;
  border-radius: 50%;
  background-color:rgb(175, 175, 175) ;
  border: 1px solid black;
}
.round-button-single-digit{

  margin: 2px;
  padding:15px 10px 15px 10px;
  width: 50px;
  height: 50px;
  // width: auto;
  display: inline-block;
  text-align: center !important;
  font-size: 16px;
  border-radius: 50%;
  background-color:rgb(175, 175, 175) ;
  border: 1px solid black;
}
.round-button-double-digit{

  margin: 2px;
  padding:15px 10px 15px 10px;
  width: 50px;
  height: 50px;
  // width: auto;
  display: inline-block;
  text-align: center !important;
  font-size: 16px;
  border-radius: 50%;
  background-color:rgb(175, 175, 175) ;
  border: 1px solid black;
}
