<ion-content style="--height: 100% !important;position: fixed;--background:#ffaa00"  class="app-background-mercurius-primary-color">
  <ion-grid   class="app-background-mercurius-primary-color"  >
    <ion-row class="ion-justify-content-center" >
      <ion-col size="1"><ion-icon (click)="signIn()" class="app-font-primary-color" style="font-size: 16px !important;"  name="caret-back-outline"  ></ion-icon></ion-col>
      <ion-col size="10" >
      </ion-col>
      <ion-col size="1"></ion-col>
      </ion-row>
    <ion-row class="ion-justify-content-center" style="padding-top: 40px;margin-bottom: 25px;">
      <ion-col size="1"></ion-col>
      <ion-col size="10" >
        <ion-img alt="StraightLines.io"  style="width: 100% !important;" src="assets/img/StraightLines-tagline.png" ></ion-img>
      </ion-col>
      <ion-col size="1"></ion-col>
  </ion-row>

</ion-grid>
<ion-grid   class=" box" style="margin-top:-5px;width: 100% !important;">

<ion-row  class="app-font-primary-color ion-text-center ion-justify-content-center" style="padding: 75px 0px 0px 0px !important;">
<ion-col size="12"  class="app-font-primary-color ion-text-center ion-justify-content-center"  >
  <ion-label style="font-size: 20px !important;" style="margin-bottom: 15px;">
    <b class=" app-title">  Create New Password</b>
     </ion-label>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid style="background-color: white;min-height:100%;margin:0px !important;margin-left: 0px !important;margin-right: 0px;margin-top: -2px !important;">
  <form  [formGroup]="forgotPassword" >
    <!-- Username -->

    <ion-grid class="ion-justify-content-center ion-text-center" >
      <ion-row lines="none" class="app-font-primary-color ion-text-center ion-justify-content-center">

        <ion-label class="data font-size-18px  app-title" style="margin-bottom: 30px;font-size: 14px;">
          Set your new password so that you can login and access<br> StraightLines
        </ion-label>
      </ion-row>
    <!-- Password -->
    <ion-item id="register-input-ion-item" lines="none" class="app-font-primary-color " >
      <ion-label position="stacked" style="font-size: 12px;">Password</ion-label>
      <!-- <ion-label>Password</ion-label> -->

      <!-- <ion-icon item-end class="hide-option"  name="eye-off-outline"> -->
      <ion-input type="text" [class]="passWordClass(classId) " style="border-radius: 5px;margin-top: 5px;position: relative;z-index: -1;" formControlName="password" name="password"
      [class.is-invalid]="password?.invalid && password?.touched"
      required>

    </ion-input>

    <!-- <span style="position:absolute; right:8px;top:8px;" class="fa fa-user "></span> -->

    <ion-icon *ngIf="hidePassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="passWord()"  name="eye-off-outline"></ion-icon>
    <ion-icon *ngIf="!hidePassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="passWord()" name="eye-outline"></ion-icon>
    <!-- <ion-label><ion-icon class="passwordIcon" style="z-index: -1;position: absolute;"  name="eye-off-outline"></ion-icon></ion-label> -->
    <!-- </ion-icon> -->


</ion-item>
<div class="content-data app-font-red-color" style="text-align: left;margin-left:8%;" *ngIf="password?.touched && password?.errors">
  <p class="app-font-red-color" *ngIf="password?.errors?.required "><ion-icon name="alert-circle-outline"></ion-icon> Password is required!</p>
  <p class="app-font-red-color" *ngIf="password?.errors?.minlength "><ion-icon name="alert-circle-outline"></ion-icon> Password must be at 2 characters!</p>
  <p class="app-font-red-color" *ngIf="password?.errors?.maxlength "><ion-icon name="alert-circle-outline"></ion-icon> Password must be at 64 characters!</p>
</div>
    <!-- Confirm-Password -->
    <ion-item id="register-input-ion-item" lines="none" class="app-font-primary-color " >
      <ion-label position="stacked" style="font-size: 12px;">Confirm Password</ion-label>
      <ion-input type="text" [class]="confirmPassWordClass(confirmClassId) " style="border-radius: 5px;margin-top: 5px;position: relative;z-index: -1;"   name="confirm-password" formControlName="confirm_password"
      required></ion-input>
      <ion-icon *ngIf="hideConfirmPassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="confirm_Password()"  name="eye-off-outline"></ion-icon>
      <ion-icon *ngIf="!hideConfirmPassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="confirm_Password()" name="eye-outline"></ion-icon>

  </ion-item>

  <div class="content-data app-font-red-color" style="text-align: left;margin-left:8%;" *ngIf="confirm_password.touched && confirm_password.invalid" >
    <p class="app-font-red-color" *ngIf="confirm_password.errors.required"><ion-icon name="alert-circle-outline"></ion-icon> Confirm Password is required.</p>
    <p class="app-font-red-color" *ngIf="confirm_password.errors.confirmedValidator"><ion-icon name="alert-circle-outline"></ion-icon> Password and Confirm Password must be match.</p>
</div>
  </ion-grid>



<ion-row  class="ion-justify-content-center"  id="button">
<ion-button shape="round"  class="app-button-primary " id="get-start"  *ngIf="forgotPassword?.invalid===false " (click)="resetPass(forgotPassword)" >Reset Password</ion-button>
<ion-button shape="round"  class="app-button-primary " [disabled]="true" id="get-start"  *ngIf="forgotPassword?.invalid || emailValid==true  " (click)="resetPass(forgotPassword)" >Reset Password</ion-button>
</ion-row>


  </form>
  <ion-row class="ion-justify-content-center data"  id="sign-in">
  </ion-row>
</ion-grid>
  </ion-content>

















