<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row style="margin-top: 3%;">
      <ion-col size="1.5" >
        <ion-img style="height:14px;width: 100%;animation-direction:reverse;" class="go-back" alt="Go Back" src="assets/img/go-back.png" (click)="goBack()"></ion-img>
      </ion-col>
      <ion-col>
        <p class="ion-header-title app-font-style app-font-primary-color" style="text-align: center;">

        </p>
      </ion-col>
      <ion-col size="2" >

      </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class="content-data" >
  <!-- <p (click)="goBack()" style="float:left;margin-left:5%;margin-top: 5%;">Go back</p> -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf6-Ta_pGJW8uNqaeYnzvERoab-5mDx4NGoO__Evt_M8td3BA/viewform?embedded=true"
  width="100%"
  height="100%"
  frameborder="0"
  marginheight="0"
  marginwidth="0">Loading…</iframe>

</ion-content>
<ion-footer class="footer ion-no-border" >
  <ion-toolbar class="footer ion-no-border" >

  </ion-toolbar>

</ion-footer>
