<div class="add-dialog">
  <div class="head d-flex justify-content-between">
    <h2 mat-dialog-title>Add {{ addFunctionName }}</h2>
    <mat-icon mat-dialog-close (click)="close()"> close </mat-icon>
  </div>
<form
[formGroup]="FacilityTypeForm"
(ngSubmit)="AddFacilityType()"

>
<mat-dialog-content
  class="mat-typography"

>
  <div class="from-part">
    <div class="level">
      <label
        ><span class="required-asterisk">*</span>
        {{ addFunctionName }} Name:
      </label>
    </div>
    <div class="level">
      <input
        id="ffacilitytype_name"
        type="text"
        formControlName="facilitytype_name"
        placeholder="Enter {{ addFunctionName }}  Name"
        required
        [ngClass]="{
          warning_input:
            (facility_type_facility_name.invalid &&
              (facility_type_facility_name.dirty ||
                facility_type_facility_name.touched)) ||
            (facility_type_facility_name.errors &&
              facility_type_facility_name.touched)
        }"
      />
      <div
        *ngIf="
          facility_type_facility_name.invalid &&
          (facility_type_facility_name.dirty ||
            facility_type_facility_name.touched)
        "
        class="text-danger"
      >
        <div *ngIf="facility_type_facility_name.errors">
          Facility Type Name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="from-part">
    <div class="level">
      <label for="first-name"
        ><span class="required-asterisk">*</span>
        {{ addFunctionName }} Description:
      </label>
    </div>
    <div class="level">
      <input
        id="first-name"
        type="text"
        placeholder="Enter Description"
        formControlName="facilitytype_desc"
        required
        [ngClass]="{
          warning_input:
            (facility_type_facility_desc.invalid &&
              (facility_type_facility_desc.dirty ||
                facility_type_facility_desc.touched)) ||
            (facility_type_facility_desc.errors &&
              facility_type_facility_desc.touched)
        }"
      />
      <div
        *ngIf="
          facility_type_facility_desc.invalid &&
          (facility_type_facility_desc.dirty ||
            facility_type_facility_desc.touched)
        "
        class="text-danger"
      >
        <div *ngIf="facility_type_facility_desc.errors">
          Facility Description is required.
        </div>
      </div>
    </div>
  </div>
  <div class="from-part">
    <div class="level">
      <label for="last-name"
        ><span class="required-asterisk">*</span> Effective Start Date:
      </label>
    </div>
    <div class="level" (click)="picker.open()">
      <div class="d-flex align-items-center" (click)="picker.open()">
        <input
          id="last-name"
          type="text"
          placeholder="mm/dd/yyyy"
          formControlName="start_date"
          required
          [matDatepicker]="picker"
          [ngClass]="{
            warning_input:
              (facility_type_facility_start_date.invalid &&
                (facility_type_facility_start_date.dirty ||
                  facility_type_facility_start_date.touched)) ||
              (facility_type_facility_start_date.errors &&
                facility_type_facility_start_date.touched)
          }"
        />
        <mat-icon>calendar_month</mat-icon>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div
        *ngIf="
          facility_type_facility_start_date.invalid &&
          (facility_type_facility_start_date.dirty ||
            facility_type_facility_start_date.touched)
        "
        class="text-danger"
      >
        <div *ngIf="facility_type_facility_start_date.errors">
          Effective Start Date is required.
        </div>
      </div>
    </div>
  </div>
  <div class="from-part">
    <div class="level">
      <label for="expirationDate"
        ><span class="required-asterisk">*</span> Expiration Date:
      </label>
    </div>
    <div class="level" (click)="picker1.open()">
      <div class="d-flex align-items-center" (click)="picker1.open()">
        <input
          id="end_date"
          type="text"
          placeholder="mm/dd/yyyy"
          formControlName="end_date"
          required
          [min]="facility_type_facility_start_date.value"
          [max]=""
          [matDatepicker]="picker1"
          [ngClass]="{
            warning_input:
              (facility_type_facility_end_date.invalid &&
                (facility_type_facility_end_date.dirty ||
                  facility_type_facility_end_date.touched)) ||
              (facility_type_facility_end_date.errors &&
                facility_type_facility_end_date.touched)
          }"
        />
        <mat-icon>calendar_month</mat-icon>
        <mat-datepicker #picker1></mat-datepicker>
      </div>
      <div
        *ngIf="
          facility_type_facility_end_date.invalid &&
          (facility_type_facility_end_date.dirty ||
            facility_type_facility_end_date.touched)
        "
        class="text-danger"
      >
        <div *ngIf="facility_type_facility_end_date.errors">
          Expiration Date is required.
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-success" *ngIf="addSuccess">
    <p>Facility Type has been added successfully !!</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-button
    mat-raised-button
    type="submit"
    [disabled]="FacilityTypeForm.invalid"
  >
    Save
  </button>
  <button
    mat-button
    mat-raised-button
    (click)="FacilityTypeForm.reset()"
    dkFocusInitial
  >
    Reset
  </button>
</mat-dialog-actions>
</form>
</div>
