<!-- shift-card.component.html -->
    <div class="ion-no-padding ion-no-margin ion-text-center" style="font-size-adjust: 0.58;padding: 0%;width: 100%;height: 110% !important;">
      <div class="text-rotate-90-degree-sm d-flex align-items-center justify-content-center"><b class="font-normal">{{shiftLabel}}{{seq + 1}}</b></div>
      <div class="d-flex align-items-center justify-content-center padding-card-duration">
        <div class="numberCircle text-rotate-90-degree">
          <span>
            {{shiftdurationc}}
          </span>
        </div>
      </div>
    </div>
  
