.main{
  height: 100%;
  overflow-y: none;
}
#all-shift-list{
  height: 90%;
  overflow-y: auto;
  margin-bottom: 20px;
}
.bid-window {
  height: 85%;
}
// #all-shift-list-card{
//   height: 90% !important;overflow-y: scroll;
// }
// .scroll-list-div{
//   height: 75%;
//   overflow-y: auto;
// }
@media(min-height:700px){
.main{
  height: 95%;
}
// #list-all-slots{
//   height: 120px !important;overflow-y: scroll;
// }
}
@media(min-height:800px){
.main{
  height: 90%;
}

// #list-all-slots{
//   height: 170px !important;overflow-y: scroll;
// }
}
@media(min-height:900px){
.main{
  height: 90%;
}
// #list-all-slots{
//   height: 250px !important;overflow-y: scroll;
// }
}


div.scrollmenu {
  white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}


div.scrollmenu ion-label {
  display: inline-block;
  // color: white;
  border: 1px solid lightgray !important;
  text-align: center;
  width: 75px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}


.popup {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 215px;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1 !important;
  height: 50px;
  margin-top: 45px;
  left: 0%;
  top: -12px;
  margin-left: -105px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -12px;
  z-index: -1 !important;
  margin-left: 60px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(150deg);
  border-color: transparent transparent #000 transparent ;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popup .hideTimePopup{
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}



.popupEmp {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popupEmp .popuptextEmp {
  visibility: hidden;
  width:225px ;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1 !important;
  // height: 50px;
  margin-top: 45px;
  left: -100% !important;
  margin-left: -115px;
}

.popupEmp .popuptextEmp::after {
  content: "";
  position: absolute;
  left: 60px;
  top: -12px;
  z-index: -1 !important;
  margin-left: 25px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(150deg);
  border-color: transparent transparent #000 transparent ;
}

.popupEmp .showEmp {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popupEmp .hideEmp {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#footer {
  position: sticky;
    position: -webkit-sticky;
  bottom: 0px;
  background-color: #fff;
  z-index: 2 !important;
}

.font-weight-900 {
  font-weight: 900;
}
