.active{
  --checkmark-color:white;
  --background-checked:#3CA823;
  --border-color-checked:#57818A;
  --border-color: #57818A;
}
.deactivate{
  --checkmark-color:#57818A;
  --border-color-checked:#57818A;
  --background-checked:#ffaa00;
  --border-color: #ffaa00;;
}

#input-box{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  --padding-end: 0% !important;
  --padding-start: 0% !important;
}
.main{
  height: 100%;
}
#all-shift-list{
  height: 60% !important;
  overflow-y: auto;
}

#all-shift-list-card{
  overflow-y: auto;
  margin:0px 5px 5px 5px;
  padding-top: 10px;
}

.custom-icon {
  font-size: 18px;
}

#scheduble-grid {
  height: 450px;
  overflow-y: auto;
}

.scheduled-shift {
  padding:5px 0px 0px 0px;
  margin:5px 0px 5px 0px;
  border:1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shiftline-row {
  height: 5vh;
}
@media(min-height:700px){
.main{
  height: 95%;
}
#list-all-slots{
  height: 120px !important;
  overflow-y: auto;
}
}
@media(min-height:800px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 170px !important;
  overflow-y: auto;
}
}
@media(min-height:900px){
.main{
  height: 90%;
}
#list-all-slots{
  height: 250px !important;
  overflow-y: auto;
}
}

.popupEmp {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popupEmp .popuptextEmp {
  visibility: hidden;
  width: 160px;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1 !important;
  height: 50px;
  margin-top: 45px;
  left: 0%;
  margin-left: 0px;
}

.popupEmp .popuptextEmp::after {
  content: "";
  position: absolute;
  left: 45px;
  top: -12px;
  z-index: -1 !important;
  margin-left: 25px;
  border-width: 35px;
  border-style: solid;
  transform: rotate(150deg);
  border-color: transparent transparent #000 transparent ;
}

.popupEmp .showEmp {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popupEmp .hideEmp {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



// #sbp-input{
// height: 35px;
// --padding-top: auto;
// --padding-bottom: auto;
// }


.active {
  width: 24px;
  height: 24px;
  // border-radius: 50%;
  padding: 2px;

  // color: #0194e3;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: #57818A;
}



.small {
  width: 24px;
  height: 24px;
  // border-radius: 50%;
  padding: 2px;

  // color: #0194e3;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: #aab5b8;
}

.active-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  // border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #57818A;
}

.small-bid-round{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  // margin: 2px;
  // color: #0194e3;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #aab5b8;
}

div.scrollmenu {
  // background-color: #333;
  overflow-x:auto;
  white-space: nowrap;
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}


div.scrollmenu ion-label {
  display: inline-block;
  // color: white;
  border: 1px solid #57818A !important;
  text-align: center;
  width: 75px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
.expand{
  position:relative;
  height: 100%;
}
.default-expand{
  margin-top: 0px;
  padding-top: 0px;
  height: 40px;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromBottomButton {
  0% {
    transform: translateY(500%);
  }
  100% {
    transform: translateY(0);
  }
}

.myAnimateClass{
  animation: 2s ease-out 0s 1 slideInFromBottom;

}
.myAnimateClassButton{
  animation: 2s ease-out 0s 1 slideInFromBottomButton;

}
.myAnimateClassOne{
  animation: 2s ease-out 0s 1 slideInFromLeft;

}

.expand{
  height: 100%;
}
.default-expand{
  height: 0px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 20vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  bottom: 0%;
  left: 50%;
  margin-left: 30px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -25%;
  left: -7%;
  z-index: -1;
  transform: rotate(360deg);
  margin-left: 0px;
  border-width: 19px;
  border-style: solid;
  border-color:  transparent transparent #000 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
