.main-card{
  height: 95%;
}
.mymodal{
  padding: 2%;
}
button{
  background-color: #0194e3;
  border: none;
  color: white;
  width: 60%;
  text-align: center;
  border-radius:20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);


}
