<div class="container">
  <ion-grid  class="ion-text-center" *ngIf="spinner">
    <ion-row>
      <ion-col size="12">
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="!spinner">
    <ion-grid *ngIf="checkData;else elseBlock" id="all-shift-list-card" class="app-font-primary-color ion-no-margin">
      <ion-grid class="p-0">
        <ion-row class="content-data ion-text-center ion-no-margin ion-no-padding font-size-14px">
          <ion-col size="12" >
            <ion-label>
              <b>Schedule-Leave Picked by Seniority</b>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-img *ngIf="bidding_status==0" class="ion-no-padding-top ion-no-margin-top ion-no-padding-bottom ion-no-margin-bottom main-image-size mx-auto" alt="Cal" src="assets/img/not_started.png"></ion-img>
          <ion-img *ngIf="bidding_status==1" class="ion-no-padding-top ion-no-margin-top ion-no-padding-bottom ion-no-margin-bottom main-image-size mx-auto" alt="Cal" src="assets/img/completed.png"></ion-img>
          <ion-img *ngIf="bidding_status==2" class="ion-no-padding-top ion-no-margin-top ion-no-padding-bottom ion-no-margin-bottom main-image-size mx-auto"  alt="Cal" src="assets/img/in_progress.png"></ion-img>
        </ion-grid>
        <ion-row class="content-data ion-no-margin ion-no-padding">
          <ion-col size="10" offset="1" class="app-font-primary-color ion-text-center ion-no-margin ion-no-padding">
            <b class="font-weight-bolder mr-1">Bid Schedule Name<br></b>
            {{bid_schedule_name}}</ion-col>
        </ion-row>
        <ion-row class="content-data ion-text-center ion-no-margin ion-no-padding font-size-14px">
          <ion-col size="3" class="d-none-sm font-size-12px">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="12" class="ion-no-padding ion-no-margin text-center">
                <ion-label><b>Bid Start Date</b></ion-label>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ion-no-margin text-center">
                <ion-label>{{scheduleStartDate | date:'MMM dd, y'}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-md="6" size-xs="12" class="ion-text-center" *ngIf="bid_schedule_length>0 && totalBidRounds>0">
            <ion-label>
              <div class="popup" (click)="myFunction()" >
                <b>
                  <mat-icon *ngIf="bidding_status==0" class="bid-text-violet font-size-24px font-weight-900">remove_circle_outline</mat-icon>
                  <mat-icon *ngIf="bidding_status==1" class="bid-text-parrot font-size-24px font-weight-900">check_circle_outline</mat-icon>
                  <mat-icon *ngIf="bidding_status==2" class="bid-text-orange font-size-24px font-weight-900">schedule</mat-icon>
                </b>
                <span class="popuptext" id="myPopup">
                  <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding ion-no-margin" size="1"></ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="2">
                      <b>
                        <mat-icon class="bid-text-violet font-size-18px font-weight-900">remove_circle_outline</mat-icon>
                      </b>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="9">Not Started</ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="2" offset="1">
                      <b>
                        <mat-icon class="bid-text-orange font-size-18px font-weight-900">schedule</mat-icon>
                      </b>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="9">In Progress</ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="2" offset="1">
                      <b>
                        <mat-icon class="bid-text-parrot font-size-18px font-weight-900">check_circle_outline</mat-icon>
                      </b>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-no-margin" size="9">Completed</ion-col>
                  </ion-row>
                </span>
              </div>
            </ion-label>
            <br>
            <ion-label *ngIf="bidding_status==0">Not Started</ion-label>
            <ion-label *ngIf="bidding_status==1">Completed</ion-label>
            <ion-label *ngIf="bidding_status==2">In Progress</ion-label>
          </ion-col>
          <ion-col size="3" class="d-none-sm font-size-12px">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="12" class="ion-no-padding ion-no-margin">
                <ion-label><b>Bid End Date</b></ion-label>
              </ion-col>
              <ion-col size="12" class="ion-no-padding ion-no-margin">
                <ion-label >{{scheduleEndDate  | date:'MMM dd, y'}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-grid class="data ion-no-margin ion-text-center">
          <ion-row class="content-data ion-no-margin ion-no-padding">
            <ion-col size="3" class="d-none-sm">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin text-center">
                  <ion-label><b>Total Employees</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin text-center">
                  <ion-label >{{totalEmployee}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size-md="6" size-xs="12">
              <b *ngIf="bidding_status==2" class="font-weight-bolder mr-1"> Current Active Bid Round<br></b> {{getCurrentRound(round_id)}}
            </ion-col>
            <ion-col size="3" class="d-none-sm">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label><b>Total Bid Rounds</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label >{{totalBidRounds}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="p-1 d-none-upto-md">
            <ion-col size="6">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label ><b>Bid Start Date</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label>{{scheduleStartDate | date:'MMM dd, y'}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label><b>Bid End Date</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label >{{scheduleEndDate  | date:'MMM dd, y'}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="p-1 d-none-upto-md">
            <ion-col size="6">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label><b>Total Employees</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label >{{totalEmployee}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label><b>Total Bid Rounds</b></ion-label>
                </ion-col>
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-label >{{totalBidRounds}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button class="app-button-primary w-auto" (click)="download()">Download</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-grid>
    </ion-grid>
    <ng-template #elseBlock>
      <ion-grid>
        <ion-row class="ion-text-center data">
          <ion-col size="12">
            <ion-label>Data Not Available</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ion-grid>
</div>
