
.popup {
  position: relative;
  display:  inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 150px;
  background-color: rgb(56, 55, 55,1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
z-index: 1 !important;
  margin-top: 42px;
  left: -100%;
  margin-left: -70px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 0%;
  margin-top: -27px;
  margin-left: 88px;
  border-width: 15px;
  z-index: -1 !important;
  transform: rotate(180deg);
  border-style: solid;
  border-color: rgb(56, 55, 55,1) transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.main-image-size {
  height: 150px;
  width: 250px;
}
