<div class="admin-table-wrapper">
  <div class="top-bar">
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="checkActive"
      (ngModelChange)="radioChange()"
    >
      <mat-radio-button value="I">Include</mat-radio-button>
      <mat-radio-button value="E">Exclude </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button mat-button (click)="addNewRole()" [disabled]="!getPermissionActionName('Update Qualifications')">
      <div class="add-button">
        <p>Add User Shift</p>
      </div>
    </button>
  </div>
  <div class="list">
    <table
      #table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="sh_name"
      [dataSource]="dataSource"
      (sortChange)="testSortChange()"
      class="mat-elevation-z8"
      matSortDirection="asc"
    >
      <!-- s_name Column -->
      <ng-container matColumnDef="area_name_ref">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Area
          <mat-form-field>
            <mat-select (selectionChange)="filterChange($event)">
              <mat-option [value]="">None</mat-option>
              <mat-option
                *ngFor="let inspectionType of filter"
                [value]="inspectionType.area_name_ref"
                >{{ inspectionType.area_name_ref }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.area_name_ref }}</td>
      </ng-container>
      <ng-container matColumnDef="sh_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift Alias</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.sh_name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sh_category_name_ref">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Shift Category
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.sh_category_name_ref }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sh_duration">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Duration
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.sh_duration }}
        </td>
      </ng-container>

      <!-- s_time Column -->
      <ng-container matColumnDef="sh_starttime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Start Time
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ getStartHour(element.sh_starttime) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sh_endtime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          End Time
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ getStartHour(element.sh_endtime) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sh_activation_date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Activation Date
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.sh_activation_date | date : "MM/dd/YYYY" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sh_expiration_date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Expiration Date
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.sh_expiration_date | date : "MM/dd/YYYY" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          Status
          <mat-form-field>
            <mat-select (selectionChange)="filterChange($event)" onclick="event.stopPropagation()">
              <mat-option [value]="">None</mat-option>
              <mat-option
                value="Active"
                >Active</mat-option
              >
              <mat-option
                value="Inactive"
                >Inactive</mat-option
              >
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{element.status}}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex jutify-content-center">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              matTooltipPosition="left"
              matTooltip="View, Update, Exclude/Include"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="view(element)" [disabled]="!getPermissionActionName('View User Shift')">
                <span>View</span>
              </button>
              <button mat-menu-item (click)="updateRole(element)" [disabled]="!getPermissionActionName('Update User Shift')">
                <span>Update</span>
              </button>
              <button
                mat-menu-item
                (click)="exclude(element)" [disabled]="!getPermissionActionName('Exclude User Shift')"
                *ngIf="element.sh_include_exclude == 'I'"
              >
                <span>Exclude </span>
              </button>
              <button
                mat-menu-item
                (click)="Include(element)" [disabled]="!getPermissionActionName('Include User Shift')"
                *ngIf="element.sh_include_exclude == 'E'  && element.status != 'Inactive'"
              >
                <span>Include</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      appStylePaginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
